
/* CSS styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
    font-size: 35px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

/*Дія при наведенні*/
nav ul li a:hover {
    background-color: #333;
    color: #fff;
}


/*Customing main*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}





footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    font-size: 14px;
}
