<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>E-Commerce Web App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to CSS stylesheets -->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/registration">Registration</a></li>

        </ul>
    </nav>
</header>

<main>
    <div class="container">
        <h1>Welcome to our E-Commerce Web App</h1>
        <p>Here, you can find magazines and buy them with ease.</p>


    </div>
</main>

<footer>
    <p>&copy; 2023 E-Commerce Web App. All rights reserved.</p>
</footer>


</body>
</html>
